doctype html
html(lang="en")
    head
        
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Vouch Playground")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
        
        meta(http-equiv="Content-Security-Policy", content="default-src *; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline' 'unsafe-eval'; style-src * 'unsafe-inline' 'unsafe-eval'; object-src 'none'; plugin-types application/pdf; child-src * 'unsafe-inline' 'unsafe-eval'; frame-src *; media-src 'self'; img-src 'self' * data data:;")
        
        title Scotty
        
    body
        #app
