doctype html
html(lang="en")
    head
        
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="Vouch Playground")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
        
        meta(http-equiv="Content-Security-Policy", content="form-action 'self'; base-uri 'self'; default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http: https:; connect-src 'self' 'unsafe-inline' http: https:; img-src 'self' https: data:; style-src 'self' 'unsafe-inline' https:; font-src 'self' data: 'unsafe-inline' https:; object-src 'none'; plugin-types application/pdf; child-src 'self'; frame-src 'self' 'unsafe-inline' http: https:; media-src 'self'")
        //default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'
        
        title Scotty
        
    body
        #app
