
.{$fa-css-prefix}-folder
    fa-icon 'folder'

.{$fa-css-prefix}-folder-open
    fa-icon 'folder-open'

.{$fa-css-prefix}-file-text-o
    fa-icon 'file-text-o'

.{$fa-css-prefix}-picture
    fa-icon 'picture'

.{$fa-css-prefix}-gear
    fa-icon 'gear'
