
#section-canvas

    h1
        position absolute
        top 0
        left 50%
        right 0
        width 800px
        margin-left -25%

    a
        color #42b983
        text-decoration none

    p
        margin-left auto
        margin-right auto
        max-width 600px

    &> div
        position absolute
        top 0
        left 0
        width auto

    h1
        z-index 90
        text-align center