
html
    height 100%

body
    font caption

.no-padding
    padding-left 0
    padding-right 0

.no-padding-left
    padding-left 0

.no-padding-right
    padding-right 0

#viewport
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    background-color rgba(0, 255, 0, 0.3)
    z-index 999
    #canvas-background
        z-index 1000
    #canvas
        z-index 1001

#canvas, #canvas-background
    height 800px
    border 1px #880000 solid
    cursor crosshair
    position absolute
    top 100px
    left 50%
    right 0
    width 800px
    margin-left -25%

#page-post-process
    #save-options
        select
            width 100%

footer
    position fixed
    left 0
    right 0
    bottom 0
    padding 10px 0
    background-color darken(white, 10%)