
$footer-height = 60px


html
    height 100%

body
    font caption
    padding-bottom $footer-height

.no-padding
    padding-left 0
    padding-right 0

.no-padding-left
    padding-left 0

.no-padding-right
    padding-right 0

#viewport
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    height 100%
    z-index 999
    #canvas-background
        z-index 1000
    #canvas
        z-index 1001

#canvas, #canvas-background, #canvas-cropped
    position absolute
    top 0
    left 0
    right 0
    width 100%
    height 100%
    cursor crosshair

#canvas-cropped, #canvas.canvas-cropped
    left 50%
    width auto
    height auto
    margin-left -25%
    cursor pointer

#page-home
    .list-group-item
        padding .35rem 0.35rem
        img
            padding 1px
            border 1px #777 solid
        span
            margin-left 8px
            margin-right @margin-left
    .list-group-item.active
        color #fefefe
        /*font-weight bold*/

#page-post-process
    #save-options
        select
            width 100%

.dropdown-only-toggle
    -webkit-appearance initial

footer
    position fixed
    left 0
    right 0
    bottom 0
    padding 10px 0
    background-color darken(white, 10%)